/* Titles
   ========================================================================== */
$eos-h1-font-size:  2em;
$eos-h2-font-size: 1.75em;
$eos-h3-font-size: 1.5em;
$eos-h4-font-size: 1.3em;
$eos-h5-font-size: 1.15em;
$eos-h6-font-size: 1em;
