/* Cookies-alert component
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-cookies-banner-boxshadow: 0px -3px 6px rgba(6, 6, 6, 0.05);
$eos-cookies-banner-background: $eos-bc-white;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-cookies-banner-padding: $eos-xxl + 2;
$eos-cookies-banner-width: 100%;
$eos-cookies-banner-zindex: $eos-zindex-navbar;
$eos-cookies-banner-buttons-padding: $eos-l - 4 0;
$eos-cookies-banner-button-margin: 0 $eos-xs + 1;
$eos-cookies-offset-height: 20vh;
